[mysqld]
rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
collation-server=latin1_bin

log-bin
binlog-format=ROW
default_time_zone='+00:00'
secure-file-priv=""

transaction-isolation=REPEATABLE-READ
lower_case_table_names=1

basedir=/opt/pm883-1/jaechan/myrocks-smartssd/inst
datadir=/opt/pm883-1/jaechan/myrocks-smartssd/inst/data
socket=/opt/pm883-1/jaechan/myrocks-smartssd/inst/mysql.sock
port=5256

# log
general_log=1
general_log_file=/opt/pm883-1/jaechan/myrocks-smartssd/inst/data/general.log
log_error=/opt/pm883-1/jaechan/myrocks-smartssd/inst/data/error.log
log_warnings=4

# rocksdb
rocksdb_max_open_files=-1
rocksdb_wal_recovery_mode=2
rocksdb_max_background_jobs=24
rocksdb_max_total_wal_size=10G
rocksdb_block_size=16384
rocksdb_block_cache_size=128G
rocksdb_table_cache_numshardbits=6

# rate limiter
rocksdb_bytes_per_sync=4194304
rocksdb_wal_bytes_per_sync=4194304
rocksdb_rate_limiter_bytes_per_sec=1073741824 #100MB/s. Increase if you're running on higher spec machines

# triggering compaction if there are many sequential deletes (Deletion Triggered Compaction
rocksdb_compaction_sequential_deletes_count_sd=1
rocksdb_compaction_sequential_deletes=199999
rocksdb_compaction_sequential_deletes_window=200000

# read free replication (for some reason, it including this option gives an error)
#rocksdb_rpl_lookup_rows=0

rocksdb_default_cf_options=write_buffer_size=128m;target_file_size_base=32m;max_bytes_for_level_base=512m;level0_file_num_compaction_trigger=8;level0_slowdown_writes_trigger=20;level0_stop_writes_trigger=30;max_write_buffer_number=20;compression_per_level=kNoCompression;bottommost_compression=kNoCompression;compression_opts=-14:6:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=1};level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;compaction_pri=kMinOverlappingRatio
##rocksdb_default_cf_options=write_buffer_size=128m;target_file_size_base=32m;max_bytes_for_level_base=512m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=2;compression_per_level=kLZ4Compression;bottommost_compression=kZSTD;compression_opts=-14:6:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=1};level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;compaction_pri=kMinOverlappingRatio

[mysql]
socket=/opt/pm883-1/jaechan/myrocks-smartssd/inst/mysql.sock
port=5256
