# Global excludes across all subdirectories
.*.swp
cscope.*
*.o
*.obj
*.orig
*.rej
*.patch
*.bc
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9][0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.sl.[0-9].[0-9][0-9]
*.dylib
*.dll
*.exp
*.a
*.mo
*.pot
objfiles.txt
.deps/
*.gcno
*.gcda
*.gcov
*.gcov.out
lcov*.info
coverage/
coverage-html-stamp
*.vcproj
*.vcxproj
win32ver.rc
*.exe
lib*dll.def
lib*.pc
postgres/src/list

# Local excludes in root directory
/GNUmakefile
/config.cache
/config.log
/config.status
/pgsql.sln
/pgsql.sln.cache
/Debug/
/Release/
/tmp_install/

/ndp_post_inst/
/vweaver_post_inst/
/vanilla_post_inst/
/post_inst/
/ch-benchmark/results*/

/data
/pgsql
logfile
/postgres/.clang-format
/postgres/.lvimrc
/run.sh
/terminate.sh
/results
/selectivity

.gdb_history
gitignore 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/.gdb_history
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/lua/internal/sysbench.cmdline.lua.h 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/lua/internal/sysbench.histogram.lua.h 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/lua/internal/sysbench.lua.h 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/lua/internal/sysbench.rand.lua.h
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/lua/internal/sysbench.sql.lua.h 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/src/sysbench
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/concurrency_kit/include/
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/concurrency_kit/lib/
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/concurrency_kit/share/
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/concurrency_kit/tmp/
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/luajit/bin/ 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/luajit/inc/ 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/luajit/lib/ 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/luajit/share/ 
ndp_pgsql_script/PostgreSQL/sysbench/sysbench/third_party/luajit/tmp/

# Except for citus-benchmark library
!ch-benchmark/HammerDB-4.4/lib/*/*.so

ndp_pgsql_script/PostgreSQL/data/
ndp_pgsql_script/PostgreSQL/logfile
ndp_pgsql_script/PostgreSQL/error
ndp_pgsql_script/PostgreSQL/postgresql.conf-src
ndp_pgsql_script/PostgreSQL/postgresql.conf-std
ndp_pgsql_script/PostgreSQL/ch-queries/qtest*
ndp_pgsql_script/PostgreSQL/ctid.sql
ndp_pgsql_script/PostgreSQL/*.hex
ndp_pgsql_script/PostgreSQL/*.hex
ndp_pgsql_script/PostgreSQL/logs*/
ndp_pgsql_script/PostgreSQL/logfile*
ndp_pgsql_script/PostgreSQL/data-backup*/
ndp_pgsql_script/PostgreSQL/pgsql_*/
